// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
	font-family: 'Manoyri';
	src: url(../assets/fonts/Manoyri-Regular.otf);
	font-weight: 200
}


h3
{
    font-family: "Manoyri";
    font-size: 60px;
}

.button-inner
{
	font-size: 40px;
	font-family: 'Lato';
}

.camera_icon
{
	width: 100px;
	fill: #ff0000;
}

.toolbar-background-md {
    border-color: #e0e0e0;
    background: #020202;
}

.content-md {
    color: #000;
    background-color: #353535;
}

.content-md {
    color: #000;
    background-color: #353535;
}

.content-md {
    color: #f3f3f3;
    background-color: #353535;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #d6d6d6;
}

.item-md {
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #222;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}


// body {
//     font-family: 'Manoyri' !important;
// }