// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Adidas';
    src: url(../assets/fonts/adidas.ttf);
   }

@font-face {
    font-family: 'Manoyri';
    src: url(../assets/fonts/Manoyri-Regular.otf);
    font-weight: 200
}

.ion-page.show-page {
    background-image: url(/assets/imgs/bg.png) !important;
    background-repeat: no-repeat;
    background-position: 0 -150px;
    width: 100%;
}

.toolbar-background {
    background: none !important;
    border-width: 0 !important;
}

.content-ios {
    background-color: transparent;
}

.toolbar-title {
    color: white;
    font-family: 'adidas', Sans-serif !important;
}

.toolbar-ios {
    min-height: 60px;
}

.toolbar {
    min-height: 60px;
}