page-home {

}

@font-face {
  font-family: 'adidas';
  src: url(../assets/fonts/adidas.ttf);
  font-weight: 200
}

.preview
{
    width: 100%;
    margin-top: 15px;
}

.toolbar-background {
    background: #dd4a66;
    color: crimson; 
    font-family: 'adidas';
}

.toolbar-title {
    color: white; 
    font-family: 'adidas';
}


.header_title {
    font-family: 'adidas';
    font-size: 30px;
    color: crimson !important;
}

.logo
{
    width: 100%;
    z-index: 1;
    display: none;
}

.image-container {
    text-align: center;
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 90%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.item {
    padding-bottom: 40px;
    position: relative;
}

.info {
    font-family: Adidas, Sans-serif;
    padding-top: 15px;
    color: #fff;
    max-width: 90%;
    margin: 0 auto;
}

.info .name {
    font-size: 27px;
    line-height: 100%;
    float: left;
}

.info .price {
    font-size: 21px;
    float: right;
    text-align: right;
    line-height: 100%;
}

.info .price .discount {
    font-size: 18px;
    text-decoration: line-through;
    color: red;
    text-shadow: 1px 1px 0 #860c28;
}

.item .customize {
    font-family: Adidas, Sans-serif;
    position: absolute;
    top: 14px;
    right: 5%;
    margin-right: 13px;
    background: rgba(256, 256, 256, 0.7);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0 0 0 1px #bfbfbf;
    box-shadow: 0 0 0 1px #bfbfbf;
    color: #000;
}

.item .desc {
    color: #fff;
    text-align: justify;
    max-width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    font-family: Adidas, sans-serif;
    padding-bottom: 20px;
}

.item .add-to-cart {
    font-family: Adidas, Sans-serif;
    position: absolute;
    bottom: 3px;
    right: 0;
    margin-right: 13px;
    background: #f53461;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    /* border: 2px solid #ce1742; */
    -webkit-box-shadow: 0 0 0 1px #bfbfbf;
    box-shadow: 0 3px 3px 1px #e01c1c;
    color: #fff;
}